{% extends 'base.html' %}


{% block content %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>

    function changeCountOfProduct(id, item) {
        getTotalSum();
        if (item.value == 0) {
            deleteFromBasket(id,item);
        } else {
            var url = "/cart/amount/"+id+"/"+item.value;
            $.ajax({
              url: url,
              type: "GET"
            });
        }
    }

    function getTotalSum() {
       var sum = 0;
       var menu = document.querySelector('div[id=menu]');
       var prices = menu.querySelectorAll("[id=price]");
       var counts = menu.querySelectorAll("[id=count]");
       for(var i = 0; i < prices.length; i++) {
           sum+=(+prices[i].innerHTML)*(+counts[i].value);
       }
       menu.querySelector('[id=totalPrice]').innerHTML = sum+"$";
    }

    window.onload = getTotalSum;

    function deleteFromBasket(id, item) {
       var url = "/cart/delete/"+id;
       $.ajax({
          url: url,
          type: "GET"
       });
       while(true) {
        item = item.parentElement;
        if (item.id == "menuItem") break;
       }
       item.parentElement.removeChild(item);
       console.log(arguments);
    }
</script>
<div class="mdl- grid" onload="getTotal()">
    <div class="mdl-layout-spacer"></div>
    <div id="menu">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th hidden>ID</th>
                <th class="mdl-data-table__cell--non-numeric"></th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th>Time(min)</th>
                <th class="mdl-layout--large-screen-only">Proteins</th>
                <th class="mdl-layout--large-screen-only">Fats</th>
                <th class="mdl-layout--large-screen-only">Carbohydrates</th>
                <th class="mdl-layout--large-screen-only">Calories</th>
                <th>Price($)</th>
                <th>Number of servings</th>
            </tr>
        </thead>
        <tbody  class="list">
            {% for i in items %}
            <tr id="menuItem">
                <td hidden>{{ i.value.id }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                     <a href="/dish/{{i.dish.id}}">
                         <img width="50" height="50" src="{{ i.dish.picture.path }}">
                     </a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="/dish/{{i.dish.id}}"><div class="name">{{ i.dish.name }}</div></a>
                </td>
                <td class="time">{{ i.dish.time }}</td>
                <td class="proteins mdl-layout--large-screen-only">{{ i.dish.proteins }}</td>
                <td class="fats mdl-layout--large-screen-only">{{ i.dish.fats }}</td>
                <td class="carbohydrates mdl-layout--large-screen-only">{{ i.dish.carbohydrates }}</td>
                <td class="calories mdl-layout--large-screen-only">{{ i.dish.calories }}</td>
                <td class="price">
                    <span class="mdl-chip">
                        <span class="mdl-chip__text" id="price">{{ i.dish.price }}</span>
                    </span>
                </td>
                <td class="number-of-servings">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" onchange="changeCountOfProduct({{i.id}}, this)" id="count"
                        value="{{ i.multiplicity }}">
                        <label class="mdl-textfield__label" for="count">Number...</label>
                        <span class="mdl-textfield__error">Input is not a number!</span>
                    </div>
                </td>
                <td class="">
                    <button onclick="deleteFromBasket({{ i.id }}, this)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">delete</i>
                    </button>
                </td>

            </tr>
            {% endfor %}
        <tr>
            <td>Total price</td><td colspan="10"><h1 id="totalPrice"></h1></td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}
