{% extends 'base.html' %}


{% block content %}
<div class="mdl- grid">
    <div class="mdl-layout-spacer"></div>
    <div id="menu">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th hidden>ID</th>
                <th class="mdl-data-table__cell--non-numeric"></th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th>Time(min)</th>
                <th class="mdl-layout--large-screen-only">Proteins</th>
                <th class="mdl-layout--large-screen-only">Fats</th>
                <th class="mdl-layout--large-screen-only">Carbohydrates</th>
                <th class="mdl-layout--large-screen-only">Calories</th>
                <th>Price($)</th>
                <th>Number of servings</th>
            </tr>
        </thead>
        <tbody class="list">
            {% for i in items %}
            <tr>
                <td hidden>{{ i.value.id }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                     <a href="/dish/{{i.dish.id}}">
                         <img width="50" height="50" src="{{ i.dish.picture.path }}">
                     </a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="/dish/{{i.dish.id}}"><div class="name">{{ i.dish.name }}</div></a>
                </td>
                <td class="time">{{ i.dish.time }}</td>
                <td class="proteins mdl-layout--large-screen-only">{{ i.dish.proteins }}</td>
                <td class="fats mdl-layout--large-screen-only">{{ i.dish.fats }}</td>
                <td class="carbohydrates mdl-layout--large-screen-only">{{ i.dish.carbohydrates }}</td>
                <td class="calories mdl-layout--large-screen-only">{{ i.dish.calories }}</td>
                <td class="price">
                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{ i.dish.price }}</span>
                    </span>
                </td>
                <td class="number-of-servings">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4"
                        value="{{ i.multiplicity }}">
                        <label class="mdl-textfield__label" for="sample4">Number...</label>
                        <span class="mdl-textfield__error">Input is not a number!</span>
                    </div>
                </td>
                <td class="">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">delete</i>
                    </button>
                </td>

            </tr>
            {% endfor %}
        <tr>
            <td>Total price</td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}
