{% extends 'index.html' %}


{% block body %}

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<section class="probootstrap-section probootstrap-bg-white">
    <input type="text" class="search" placeholder="Search">
    <button class="sort" data-sort="name">Name</button>
    <button class="sort" data-sort="time">Time(ms)</button>
    <button class="sort" data-sort="proteins">Proteins</button>
    <button class="sort" data-sort="fats">Fats</button>
    <button class="sort" data-sort="carbohydrates">Carbohydrates</button>
    <button class="sort" data-sort="calories">Calories</button>
    <button class="sort" data-sort="price">Price($)</button>
    <div class="container">
        <div class="col-md-6 menu">
          <ul class="menus list">
            {% for i in dishes %}
            {% if forloop.counter|divisibleby:2 %}
            <li>
              <figure class="image"><img src="{{ i.picture.path }}" alt="{{ i.value.name }}"></figure>
              <div class="text">
                <span class="price">{{ i.value.price }}</span>
                <h3 class="name">{{ i.value.name }}</h3>
                <p> {{ i.value.time|floatformat }} min / {{ i.value.calories|floatformat }} cal</p>
                <p class="proteins" hidden>{{ i.value.proteins}} </p>
                <p class="fats" hidden>{{ i.value.fats }} </p>
                <p class="carbohydrates" hidden>{{ i.value.carbohydrates }}</p>
                <p class="calories" hidden>{{ i.value.calories }}</p>
                <p class="time" hidden>{{ i.value.time }}</p>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
                <ul class="menus list">
                  {% for i in dishes %}
                  {% if not forloop.counter|divisibleby:2 %}
                    <li>
                    <figure class="image"><img src="{{ i.picture.path }}" alt="{{ i.value.name }}"></figure>
                    <div class="text">
                      <span class="price">{{ i.value.price }}</span>
                      <h3 class="name">{{ i.value.name }}</h3>
                      <p> {{ i.value.time }} min / {{ i.value.calories }} cal</p>
                      <p class="proteins" hidden>{{ i.value.proteins}} </p>
                      <p class="fats" hidden>{{ i.value.fats }} </p>
                      <p class="carbohydrates" hidden>{{ i.value.carbohydrates }}</p>
                      <p class="calories" hidden>{{ i.value.calories }}</p>
                      <p class="time" hidden>{{ i.value.time }}</p>
                    </div>
                  </li>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
      </div>
    </div>
  </section>


<script type="text/javascript">
var options = {
  valueNames: [ 'name', 'time', 'proteins', 'fats', 'carbohydrates', 'calories', 'price' ]
};

var userList = new List('menu', options);
</script>

<script type="text/javascript">
    var order = [];

    function sendToServer() {
        var data = 'Order = ' + JSON.stringify(order, '', 1);
        alert(data);
        $.ajax({
            url:'',
            type:'POST',
            cache:false,
            data: data,
            success:function() {
            }
        });
    }

function addToOrder(){
var dish = event.currentTarget.id;
order.push(dish);
  var snackbarContainer = document.querySelector('#add-to-basket');
  handler = function(event) {
    data = {
        message: dish +' has just removed from order.',
        timeout: 2000,
        actionHandler: ok,
        actionText: 'Ok'
      };
      order.pop();
      snackbarContainer.MaterialSnackbar.showSnackbar(data);
      sendToBack();

  };
  ok = function(event){};

        var data = {
            message: dish + ' has just added to the order.',
            timeout: 2000,
            actionHandler: handler,
            actionText: 'Undo'
        };
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
    sendToServer()
}
</script>
{% endblock %}
