{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    function addToBasket(id, nameOfDish, item) {
       var url = "/cart/"+id;
       $.ajax({
          url: url,
          type: "GET"
        });
        getInfoForDish(item, nameOfDish);
    }
    function getInfoForDish(item, nameOfDish) {
        'use strict';
        item.style.backgroundColor = '#' +
            Math.floor(Math.random() * 0xFFFFFF).toString(16);
        var handler = function() {
            console.log(arguments);
            item.style.backgroundColor = '';
        };
        var data = {
          message: nameOfDish + " is added to your basket!",
          timeout: 2000,
          actionHandler: handler,
          actionText: 'Undo'
        };
        var snackbarContainer = document.querySelector('#demo-snackbar-example');
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
    }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div id="menu">
        <button class="sort mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-sort="name">Name</button>
        <button class="sort mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-sort="time">Time(min)</button>
        <button class="sort mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-sort="proteins">Proteins</button>
        <button class="sort mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-sort="fats">Fats</button>
        <button class="sort mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-sort="carbohydrates">Carbohydrates</button>
        <button class="sort mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-sort="calories">Calories</button>
        <button class="sort mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-sort="price">Price($)</button>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="search mdl-textfield__input" type="text" id="sample6">
                <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
            </div>
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th hidden>ID</th>
                <th class="mdl-data-table__cell--non-numeric"></th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th>Time(min)</th>
                <th class="mdl-layout--large-screen-only">Proteins</th>
                <th class="mdl-layout--large-screen-only">Fats</th>
                <th class="mdl-layout--large-screen-only">Carbohydrates</th>
                <th class="mdl-layout--large-screen-only">Calories</th>
                <th>Price($)</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">
            {% for i in dishes %}

            <tr>
                <td hidden>{{ i.value.id }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                     <a href="/dish/{{i.value.id}}">
                         <img width="50" height="50" src="{{ i.picture.path }}">
                     </a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="/dish/{{i.value.id}}"><div class="name">{{ i.value.name }}</div></a>
                </td>
                <td class="time">{{ i.value.time }}</td>
                <td class="proteins mdl-layout--large-screen-only">{{ i.value.proteins }}</td>
                <td class="fats mdl-layout--large-screen-only">{{ i.value.fats }}</td>
                <td class="carbohydrates mdl-layout--large-screen-only">{{ i.value.carbohydrates }}</td>
                <td class="calories mdl-layout--large-screen-only">{{ i.value.calories }}</td>
                <td class="price">
                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{ i.value.price }}</span>
                    </span>
                </td>
                <td>
                    <button onclick="addToBasket({{ i.value.id }}, '{{i.value.name}}',  this)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                        <i class="material-icons">add</i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
<script type="text/javascript">
var options = {
  valueNames: [ 'name', 'time', 'proteins', 'fats', 'carbohydrates', 'calories', 'price' ],
  page: 20,
  pagination: true
};

var userList = new List('menu', options);
</script>
{% endblock %}
