{% extends 'index.html' %}


{% block body %}

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" xmlns="http://www.w3.org/1999/html"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">

		$(document).ready(function() {
    		var accordion_head = $('.accordion > li > a'),
				accordion_body = $('.accordion li > .sub-menu');

			accordion_head.on('click', function(event) {
				// Disable header links

				event.preventDefault();

				if ($(this).attr('class') != 'active'){
					accordion_body.slideUp('normal');
					$(this).next().stop(true,true).slideToggle('normal');
					accordion_head.removeClass('active');
					$(this).addClass('active');
					getMenuItems(this);
				} else {
					$(this).next().stop(true,true).slideToggle('normal');
				}

			});

		});

</script>
<script>
    function createMenuItems(MenuItemsJSON) {
        //TODO
    }


    function getMenuItems(item) {
        var xhr = new XMLHttpRequest();
        var categoryName = item.id;
        //xhr.open('GET', categoryName, false);
        //xhr.send();

        if (xhr.status != 200) {
          console.log( xhr.status + ': ' + xhr.statusText );
        } else {
            createMenuItems(xhr.responseText);
        }
    }
</script>

<section class="probootstrap-section probootstrap-bg-white">
    <input type="text" class="search" placeholder="Search">
    <button class="sort" data-sort="name">Name</button>
    <button class="sort" data-sort="time">Time(ms)</button>
    <button class="sort" data-sort="proteins">Proteins</button>
    <button class="sort" data-sort="fats">Fats</button>
    <button class="sort" data-sort="carbohydrates">Carbohydrates</button>
    <button class="sort" data-sort="calories">Calories</button>
    <button class="sort" data-sort="price">Price($)</button>
    <div class="container">
        <div id="wrapper-250">
            <ul class="accordion">

                <li id="one" class="files">

                    <a href="#one">Аперетиви<span>495</span></a>

                    <ul class="sub-menu">

                        <li><a href="#"><em>01</em>Блюдо 1<span>42 грн</span></a></li>

                        <li><a href="#"><em>02</em>Блюдо 2<span>87 грн</span></a></li>

                        <li><a href="#"><em>03</em>Блюдо 3<span>366 грн</span></a></li>

                    </ul>

                </li>

                <li id="two" class="mail">

                    <a href="#two">Салати<span>26</span></a>

                    <ul class="sub-menu">

                        <li><a href="#"><em>01</em>Блюдо 1<span>9 грн</span></a></li>

                        <li><a href="#"><em>02</em>Блюдо 2<span>14 грн</span></a></li>

                    </ul>

                </li>

                <li id="three" class="cloud">

                    <a href="#three">Перші страви<span>58</span></a>

                    <ul class="sub-menu">

                        <li><a href="#"><em>01</em>Блюдо 1<span>12 грн</span></a></li>

                        <li><a href="#"><em>02</em>Блюдо 2<span>19 грн</span></a></li>

                        <li><a href="#"><em>03</em>Блюдо 3<span>27 грн</span></a></li>

                    </ul>

                </li>

                <li id="four" class="sign">

                    <a href="#four">Основні блюда</a>

                    <ul class="sub-menu">

                        <li><a href="#"><em>01</em>Блюдо 1</a></li>

                        <li><a href="#"><em>02</em>Блюдо 2</a></li>

                        <li><a href="#"><em>03</em>Блюдо 3</a></li>

                    </ul>

                </li>

            </ul>
        </div>
    </div>
  </section>


<script type="text/javascript">
var options = {
  valueNames: [ 'name', 'time', 'proteins', 'fats', 'carbohydrates', 'calories', 'price' ]
};

var userList = new List('menu', options);
</script>

<script type="text/javascript">
    var order = [];

    function sendToServer() {
        var data = 'Order = ' + JSON.stringify(order, '', 1);
        alert(data);
        $.ajax({
            url:'',
            type:'POST',
            cache:false,
            data: data,
            success:function() {
            }
        });
    }

function addToOrder(){
var dish = event.currentTarget.id;
order.push(dish);
  var snackbarContainer = document.querySelector('#add-to-basket');
  handler = function(event) {
    data = {
        message: dish +' has just removed from order.',
        timeout: 2000,
        actionHandler: ok,
        actionText: 'Ok'
      };
      order.pop();
      snackbarContainer.MaterialSnackbar.showSnackbar(data);
      sendToBack();

  };
  ok = function(event){};

        var data = {
            message: dish + ' has just added to the order.',
            timeout: 2000,
            actionHandler: handler,
            actionText: 'Undo'
        };
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
    sendToServer()
}
</script>
{% endblock %}
