{% extends 'base.html' %}


{% block content %}
    <script>
        function getTotalSum() {
       var sum = 0;
       var menu = document.querySelector('div[id=menu]');
       var prices = menu.querySelectorAll("[id=price]");
       var counts = menu.querySelectorAll("[id=count]");
       for(var i = 0; i < prices.length; i++) {
           sum+=(+prices[i].innerHTML)*(+counts[i].value);
       }
       menu.querySelector('[id=totalPrice]').innerHTML = sum+"$";
    }
    </script>
<div class="mdl-grid" onload="getTotal()">
    <div class="mdl-layout-spacer"></div>
    <div id="menu">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th hidden>ID</th>
                <th class="mdl-data-table__cell--non-numeric"></th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th>Time(min)</th>
                <th class="mdl-layout--large-screen-only">Proteins</th>
                <th class="mdl-layout--large-screen-only">Fats</th>
                <th class="mdl-layout--large-screen-only">Carbohydrates</th>
                <th class="mdl-layout--large-screen-only">Calories</th>
                <th>Price($)</th>
                <th>Number of servings</th>
            </tr>
        </thead>
        <tbody  class="list">
            {% for i in items %}
            <tr id="menuItem">
                <td hidden>{{ i.value.id }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                     <a href="/dish/{{i.dish.id}}">
                         <img width="50" height="50" src="{{ i.dish.picture.path }}">
                     </a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="/dish/{{i.dish.id}}"><div class="name">{{ i.dish.name }}</div></a>
                </td>
                <td class="time">{{ i.dish.time }}</td>
                <td class="proteins mdl-layout--large-screen-only">{{ i.dish.proteins }}</td>
                <td class="fats mdl-layout--large-screen-only">{{ i.dish.fats }}</td>
                <td class="carbohydrates mdl-layout--large-screen-only">{{ i.dish.carbohydrates }}</td>
                <td class="calories mdl-layout--large-screen-only">{{ i.dish.calories }}</td>
                <td class="price">
                    <span class="mdl-chip">
                        <span class="mdl-chip__text" id="price">{{ i.dish.price }}</span>
                    </span>
                </td>
                <td class="number-of-servings">
                    {{ i.multiplicity }}
                </td>
            </tr>
            {% endfor %}
        <tr>
            <td>Total price</td><td colspan="10"><h1 id="totalPrice"></h1></td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}
